extends ../../layout/analysislayout

block prepend rightcontent
	div.container.chart_container
		div#main
block append scripts
	script(src='/bower_components/jScrollPane/script/jquery.jscrollpane.min.js')
	script(src='/bower_components/BioChart/dist/js/biochart.js?v=0.0.41')
	script.
		var landscapeURL = '/rest/comutationplot',
				landscapeReqParams = {
			source: cohort.getCohortSource(),
			cancer_type: '#{sample.cancer_type}',
			sample_id: '#{sample.sample_id}',
			filter: cohort.getFilterOption(),
		};
	script(src='/js/population/landscape.js?v=0.0.41')
block append stylesheets
	link(rel='stylesheet', href='/bower_components/SpinKit/css/spinkit.css')
	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/stylesheets/population/comutationplot.css')
	link(rel='stylesheet', href='/bower_components/BioChart/dist/css/biochart.css?v=0.0.41')
