.igv-navbar {
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-style: solid;
  border-radius: 3px;
  border-width: thin;
  border-color: #bfbfbf;
  background-color: #f3f3f3; }
  .igv-navbar i {
    cursor: pointer;
    color: #666666; }
  .igv-navbar i:hover,
  .igv-navbar i:focus,
  .igv-navbar i:active {
    color: #434343; }

.igv-logo {
  float: left;
  margin-left: 4px;
  margin-right: 8px;
  position: relative;
  top: 4px;
  left: 0;
  width: 34px;
  height: 16px;
  background: url(img/igv-logo.svg);
  background-size: 34px 16px;
  background-repeat: no-repeat;
  background-position: 0 0; }

.igv-logo-nonav {
  margin-left: 4px;
  margin-top: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 16px;
  background: url(img/igv-logo.svg);
  background-size: 34px 16px;
  background-repeat: no-repeat;
  background-position: 0 0; }

.igv-search-container {
  position: relative;
  top: 0;
  width: 260px;
  float: left; }
  .igv-search-container input {
    position: relative;
    height: 20px;
    width: 80%;
    padding-left: 8px;
    outline: none;
    border-style: solid;
    border-radius: 3px;
    border-width: thin;
    border-color: #bfbfbf;
    font-family: "Open Sans", sans-serif;
    font-size: small;
    font-weight: 400;
    color: #444;
    background-color: white; }
  .igv-search-container i {
    font-size: 18px;
    padding-left: 6px; }

.igv-search-results {
  position: absolute;
  top: 32px;
  left: 2px;
  height: 320px;
  width: 213px;
  background-color: white;
  border-color: #7F7F7F;
  border-style: solid;
  border-width: thin;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999; }
  .igv-search-results tr {
    font-family: "Open Sans", sans-serif;
    font-size: small;
    font-weight: 400;
    color: #444; }
  .igv-search-results tr:hover,
  .igv-search-results tr:focus,
  .igv-search-results tr:active {
    cursor: pointer;
    font-weight: 700;
    color: #141414; }

.igv-nav-bar-toggle-button {
  cursor: pointer;
  position: relative;
  height: 20px;
  min-width: 110px;
  text-transform: capitalize;
  float: right;
  margin-top: 2px;
  margin-right: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  border-width: thin;
  border-radius: 10px; }

.igv-nav-bar-toggle-button-on {
  color: #737373;
  border-color: #737373;
  background-color: #f3f3f3; }

.igv-nav-bar-toggle-button-off {
  color: white;
  border-color: #737373;
  background-color: #737373; }

.igv-zoom-widget {
  position: relative;
  float: right;
  margin-left: 40px; }
  .igv-zoom-widget i {
    font-size: 24px; }
  .igv-zoom-widget i:first-child {
    padding-right: 4px; }

.igv-karyo-div {
  position: relative;
  left: 0;
  top: 0;
  height: 200px; }

.igv-karyo-hide {
  height: 0;
  overflow: hidden; }

.igv-karyo-content-div {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.igv-karyo-canvas {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.igv-ideogram-left-shim {
  position: relative;
  float: left;
  height: 14px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 50px; }

.igv-ideogram-content-div {
  position: relative;
  float: left;
  height: 14px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: white; }
  .igv-ideogram-content-div canvas {
    width: 100%;
    height: 100%; }

.igv-ideogram-content-div-border-right {
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 4px; }

.igv-ideogram-content-div-border-left {
  border-left-color: white;
  border-left-style: solid;
  border-left-width: thin; }

.igv-root-div {
  position: relative;
  left: 0;
  right: 0;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 4px; }

.igv-content-div {
  position: relative;
  width: 100%;
  height: 100%; }

.igv-track-container-div {
  position: relative;
  clear: both; }

.igv-track-div {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 2px; }

.igv-viewport-container {
  position: absolute;
  left: 0;
  right: 50px;
  height: 100%;
  /*overflow: hidden;*/
  overflow-x: hidden;
  overflow-y: hidden; }

.igv-viewport-container-shim {
  left: 50px; }

.igv-viewport-div {
  float: left;
  position: relative;
  /*width: 100%;*/
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden; }

.igv-viewport-div-border-right {
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 4px; }

.igv-viewport-div-border-left {
  border-left-color: rgba(0, 0, 0, 0.25);
  border-left-style: solid;
  border-left-width: thin; }

.igv-viewport-content-div {
  position: absolute;
  width: 100%;
  height: 100%; }
  .igv-viewport-content-div canvas {
    width: 100%;
    height: 100%; }

.igv-viewport-fa-close {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1000; }

.igv-viewport-content-ruler-div {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  min-width: 16px;
  z-index: 64;
  color: #0066ff;
  background-color: white;
  padding: 1px; }

.igv-viewport-content-ruler-div:hover,
.igv-viewport-content-ruler-div:focus,
.igv-viewport-content-ruler-div:active {
  cursor: pointer;
  color: white;
  background-color: #0066ff; }

.igv-viewport-ruler {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 200;
  text-align: center; }

.igv-viewport-sequence {
  font-family: "Open Sans", sans-serif;
  font-size: 8px;
  font-weight: 200;
  text-align: center; }

.igv-viewport-spinner {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1024;
  color: #737373; }

.igv-ruler-sweeper-div {
  display: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 99999;
  background-color: rgba(68, 134, 247, 0.25); }

.igv-right-hand-gutter {
  position: absolute;
  right: 0;
  width: 36px;
  height: 100%;
  background: white;
  text-align: center; }
  .igv-right-hand-gutter i {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 6px;
    font-size: 20px;
    cursor: pointer;
    color: grey; }
  .igv-right-hand-gutter i:hover,
  .igv-right-hand-gutter i:focus,
  .igv-right-hand-gutter i:active {
    color: #333333; }

.igv-left-hand-gutter {
  position: absolute;
  left: 0;
  width: 50px;
  height: 100%; }
  .igv-left-hand-gutter canvas {
    position: absolute; }

.igv-windowsizepanel-content-div {
  position: relative;
  height: 100%;
  float: left;
  padding-top: 6px;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #444; }

.igv-track-menu-container {
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  .igv-track-menu-container div {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: white; }
    .igv-track-menu-container div i {
      padding-right: 2px; }
  .igv-track-menu-container div:hover,
  .igv-track-menu-container div:focus,
  .igv-track-menu-container div:active {
    cursor: pointer;
    background-color: #efefef; }
  .igv-track-menu-container a {
    color: inherit;
    text-decoration: none; }

.igv-track-menu-border-top {
  border-top-color: #a2a2a2;
  border-top-style: solid;
  border-top-width: thin; }

.igv-track-menu-category {
  padding-left: 4px;
  font-weight: 400; }

.igv-track-drag-scrim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 256;
  background-color: rgba(68, 134, 247, 0.25); }

.igv-track-manipulation-handle {
  cursor: pointer;
  position: absolute;
  right: 36px;
  width: 12px;
  margin-left: 2px;
  height: 100%;
  box-sizing: border-box;
  font-size: medium;
  border-color: #c4c4c4;
  border-style: solid;
  border-width: thin;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 512;
  background-color: #c4c4c4; }

.igv-track-manipulation-handle:hover,
.igv-track-manipulation-handle:focus,
.igv-track-manipulation-handle:active {
  border-color: #7e7e7e;
  background-color: #7e7e7e; }

.igv-track-label {
  position: absolute;
  left: 8px;
  top: 4px;
  width: auto;
  height: auto;
  max-width: 200px;
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Open Sans", sans-serif;
  font-size: small;
  font-weight: 400;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border-color: #444;
  border-radius: 2px;
  border-style: solid;
  border-width: thin;
  background-color: white;
  z-index: 128; }

.igv-track-label:hover,
.igv-track-label:focus,
.igv-track-label:active {
  cursor: pointer;
  font-weight: bold; }

.igv-scrollbar-outer-div {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 100%;
  background-color: white; }
  .igv-scrollbar-outer-div div {
    position: absolute;
    top: 0;
    left: 3px;
    width: 8px;
    border-style: solid;
    border-width: thin;
    border-color: #c4c4c4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: white; }
  .igv-scrollbar-outer-div div:hover,
  .igv-scrollbar-outer-div div:focus,
  .igv-scrollbar-outer-div div:active {
    cursor: pointer;
    background-color: #c4c4c4; }

.zoom-in-notice-container {
  position: absolute;
  top: 25%;
  left: 50%; }
  .zoom-in-notice-container div {
    position: relative;
    left: -50%;
    font-family: "Open Sans", sans-serif;
    font-size: medium;
    font-weight: 400;
    color: #3f3f3f;
    background-color: rgba(255, 255, 255, 0.51);
    z-index: 64; }

.igv-center-guide {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 8px;
  z-index: 8;
  display: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border-left-style: dashed;
  border-left-width: thin;
  border-right-style: dashed;
  border-right-width: thin; }

.igv-center-guide-wide {
  background-color: transparent;
  border-left-color: rgba(127, 127, 127, 0.51);
  border-right-color: rgba(127, 127, 127, 0.51); }

.igv-center-guide-thin {
  left: 50%;
  width: 1px;
  background-color: transparent;
  border-left-color: rgba(127, 127, 127, 0.51);
  border-right-color: transparent;
  /*background-color: rgba(127, 127, 127, 0.51);*/
  /*border-left-color: rgba(0,0,0,0);*/
  /*border-right-color: rgba(0,0,0,0);*/ }

.igv-cursor-tracking-guide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  z-index: 1;
  border-left-style: dotted;
  border-left-width: thin;
  border-left-color: rgba(127, 127, 127, 0.76);
  display: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }

.igv-clickable {
  cursor: pointer;
  background-color: white; }

#color-by-tag {
  color: #444; }

#color-by-tag:hover,
#color-by-tag:focus,
#color-by-tag:active {
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
  border-color: #444;
  border-radius: 2px;
  border-style: solid;
  border-width: thin;
  background-color: #7f7f7f; }

.igv-user-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 36em;
  height: 27em;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
  background-color: white;
  border-color: #a2a2a2;
  border-style: solid;
  border-width: thin;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 400;
  color: #444; }
  .igv-user-feedback div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 32px;
    border-bottom-color: #a2a2a2;
    border-bottom-style: solid;
    border-bottom-width: thin;
    background-color: white; }
    .igv-user-feedback div:first-child i {
      font-size: 20px; }
    .igv-user-feedback div:first-child i:first-child {
      position: absolute;
      top: 0;
      left: 0;
      padding: 8px;
      color: red; }
    .igv-user-feedback div:first-child i:last-child {
      position: absolute;
      top: 0;
      right: 0;
      padding: 8px;
      cursor: pointer;
      color: grey; }
    .igv-user-feedback div:first-child i:last-child:hover,
    .igv-user-feedback div:first-child i:last-child:focus,
    .igv-user-feedback div:first-child i:last-child:active {
      color: #333333; }
  .igv-user-feedback div:last-child {
    padding-left: 48px;
    padding-top: 8px;
    padding-right: 48px;
    padding-bottom: 8px;
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; }

.igv-dialog-label-centered {
  text-align: center; }

.igv-grid-container-dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  border-color: #7F7F7F;
  border-radius: 4px;
  border-style: solid;
  border-width: thin;
  z-index: 1999;
  background-color: white; }

.igv-grid-container-alert-dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  margin-left: auto;
  margin-right: auto;
  /*max-width: 740px;*/
  max-width: 300px;
  border-color: #7F7F7F;
  border-radius: 4px;
  border-style: solid;
  border-width: thin;
  z-index: 1999;
  background-color: white; }

.igv-grid-container-colorpicker {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  border-color: #7F7F7F;
  border-radius: 4px;
  border-style: solid;
  border-width: thin;
  z-index: 1999;
  background-color: white; }

.igv-grid-header {
  position: relative;
  top: 0;
  left: 0;
  height: 24px;
  cursor: move;
  border-color: #c4c4c4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-style: solid;
  border-width: thin;
  background-color: #c4c4c4; }
  .igv-grid-header div {
    position: relative;
    padding-left: 4px; }
    .igv-grid-header div i {
      cursor: pointer; }

.igv-grid-header-blurb {
  margin-top: 4px;
  text-align: center;
  vertical-align: middle;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 200; }

.igv-grid-dividing-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #c4c4c4;
  margin: 8px; }

.igv-grid-rect {
  border-radius: 4px;
  border-style: solid;
  border-width: thin;
  border-color: white;
  padding-left: 4px;
  padding-right: 4px;
  background-color: white; }

.igv-grid-rect-hidden {
  display: none; }

.igv-grid-colorpicker {
  height: 32px; }

.igv-grid-colorpicker:after {
  content: "";
  display: table;
  clear: both; }

.igv-grid-colorpicker-user-error {
  height: 16px;
  color: #55aeff;
  font-family: "Open Sans", sans-serif;
  font-size: small;
  font-weight: 400;
  background-color: white; }

.igv-grid-dialog {
  height: 40px; }

.igv-col {
  height: 100%;
  padding: 2px; }

.igv-data-range-input-label {
  /*padding-top: 8px;*/
  padding-left: 8px;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 200;
  color: #575757; }

.igv-data-range-input {
  outline: none;
  border-style: solid;
  border-radius: 4px;
  border-width: thin;
  border-color: #7F7F7F;
  width: 100%;
  padding-left: 8px;
  vertical-align: middle;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 200;
  color: #575757; }

.igv-user-input-colorpicker {
  outline: none;
  border-style: solid;
  border-radius: 4px;
  border-width: thin;
  border-color: #7F7F7F;
  width: 100%;
  margin-top: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 200;
  color: #575757; }

.igv-user-input-dialog {
  outline: none;
  border-style: solid;
  border-radius: 4px;
  border-width: thin;
  border-color: #7F7F7F;
  width: 100%;
  padding-left: 8px;
  vertical-align: middle;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 200;
  color: #575757; }

.igv-alert-dialog-text {
  padding-top: 8px;
  padding-left: 8px;
  word-wrap: break-word;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #575757; }

.igv-user-input-label {
  padding-top: 8px;
  padding-left: 8px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 200;
  color: #575757; }

.igv-col-label {
  padding-left: 8px;
  padding-top: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 200;
  color: #575757; }

.igv-col-filler {
  width: 100%;
  height: 100%;
  border-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 4px; }

.igv-col-filler:hover,
.igv-col-filler:focus,
.igv-col-filler:active {
  border-width: medium;
  border-color: #474747; }

.igv-col-filler-no-color {
  width: 100%;
  height: 100%;
  border-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 4px; }

.igv-col-filler-user-color {
  width: 100%;
  height: 100%;
  border-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 4px; }

/* ok button */
.igv-col-filler-ok-button {
  margin-left: 8px;
  padding-left: 1px;
  padding-top: 5px;
  width: 90%;
  height: 90%;
  border-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 200;
  background-color: #5ea4e0; }

.igv-col-filler-ok-button:hover,
.igv-col-filler-ok-button:focus,
.igv-col-filler-ok-button:active {
  background-color: #5079a8; }

/* cancel button */
.igv-col-filler-cancel-button {
  margin-left: 8px;
  padding-left: 1px;
  padding-top: 5px;
  width: 90%;
  height: 90%;
  border-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 200;
  background-color: #c4c4c4; }

.igv-col-filler-cancel-button:hover,
.igv-col-filler-cancel-button:focus,
.igv-col-filler-cancel-button:active {
  background-color: #7e7e7e; }

/* 3 columns */
.igv-col-1-3 {
  width: 33.33333%; }

.igv-col-2-3 {
  width: 66.66667%; }

/* 4 columns */
.igv-col-1-4 {
  width: 25%; }

.igv-col-2-4 {
  width: 50%; }

.igv-col-3-4 {
  width: 75%; }

.igv-col-4-4 {
  width: 100%; }

/* 8 columns */
.igv-col-1-8 {
  width: 12.5%; }

.igv-col-2-8 {
  width: 25%; }

.igv-col-3-8 {
  width: 37.5%; }

.igv-col-4-8 {
  width: 50%; }

.igv-col-5-8 {
  width: 62.5%; }

.igv-col-6-8 {
  width: 75%; }

.igv-col-7-8 {
  width: 87.5%; }

.igv-col-8-8 {
  width: 100%; }

/*   end grid.css */
.fa-check-hidden {
  color: rgba(255, 255, 255, 0); }

.validateTips {
  border: 1px solid transparent;
  padding: 0.3em; }
  .validateTips fieldset {
    border: 0; }

/* pop up menu */
.igv-popover {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 128px;
  z-index: 4096;
  font-family: "Open Sans", sans-serif;
  font-size: small;
  font-weight: 400;
  color: #444;
  background: white;
  border-radius: 4px;
  border-color: #7F7F7F;
  border-style: solid;
  border-width: thin;
  display: none; }

.igv-popover-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-color: #7F7F7F;
  border-bottom-style: solid;
  border-bottom-width: thin;
  background-color: #eee; }
  .igv-popover-header div {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 100%;
    width: 16px;
    text-align: center;
    line-height: 100%; }
    .igv-popover-header div i {
      cursor: pointer;
      color: #444;
      font-size: small; }
  .igv-popover-header div:hover {
    color: white; }

.igv-popover-track-popup-content {
  position: relative;
  top: 0;
  left: 0;
  max-height: 384px;
  overflow-x: hidden;
  overflow-y: auto; }

.igv-popover-name-value {
  cursor: default;
  text-wrap: none;
  white-space: nowrap;
  max-width: 384px; }

.igv-popover-name {
  font-weight: bold;
  padding-right: 4px;
  float: left; }

.igv-popover-value {
  padding-left: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 256px;
  display: inline-block; }

.igv-spinner-container {
  color: #3f3f3f;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 8px;
  font-size: 24px;
  z-index: 512; }

.spacer10 {
  height: 10px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block; }

[class*='igv-col-'] {
  float: left; }

[class*='igv-'], [class*='igv-']:after, [class*='igv-']:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.igv-cursor-ui-header {
  margin-top: 4px;
  width: 100%;
  height: auto;
  background-size: 100px 32px;
  background-repeat: no-repeat;
  background-position: 21px 9px; }

.igv-cursor-ui-holder {
  width: 640px;
  margin: auto; }

.igv-cursor-ui {
  margin: auto;
  width: 100%;
  display: inline-block;
  border: solid 1px grey;
  background-color: #fff;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 5px 5px 5px; }

.igv-cursor-ui-item {
  float: left;
  color: grey;
  font-weight: 400;
  padding: 5px 8px 5px 8px; }

.igv-drag-and-drop-presentation-button {
  position: relative;
  height: 20px;
  min-width: 110px;
  text-transform: capitalize;
  float: left;
  margin-top: 2px;
  margin-right: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  color: #737373;
  border-color: #737373;
  background-color: #f3f3f3;
  border-style: solid;
  border-width: thin;
  border-radius: 10px; }

.igv-drag-and-drop-presentation-button:hover,
.igv-drag-and-drop-presentation-button:focus,
.igv-drag-and-drop-presentation-button:active {
  cursor: pointer;
  color: white;
  border-color: #737373;
  background-color: #737373; }

.igv-drag-drop-container {
  position: absolute;
  top: 100px;
  left: 25%;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 2000;
  background-color: #c8dadf;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around; }

.igv-drag-drop-container.is-dragover {
  background-color: rgba(200, 218, 223, 0.51); }

.igv-drag-and-drop-close-container {
  position: absolute;
  top: 16px;
  right: 18px;
  text-align: center;
  line-height: 100%;
  cursor: pointer; }
  .igv-drag-and-drop-close-container i.fa-times {
    color: #92b0b3; }
  .igv-drag-and-drop-close-container i.fa-times-circle {
    color: #36464b; }

.igv-drag-drop-surface {
  position: relative;
  color: #36464b;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 200; }

.igv-drag-drop-surface .igv-drag-drop-surface-blurb {
  display: inline; }

.igv-drag-and-drop-url-input-container {
  position: relative;
  width: 96%;
  margin: 8px auto; }

.igv-drag-and-drop-url-input-container > div {
  margin-top: 14px;
  margin-bottom: 14px; }

.igv-drag-drop-ok {
  width: 90%;
  margin: 4px auto;
  padding: 4px;
  color: #36464b;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  border-style: solid;
  border-radius: 3px;
  border-width: thin;
  border-color: #36464b;
  background-color: #c8dadf; }

.igv-drag-drop-ok:hover,
.igv-drag-drop-ok:focus,
.igv-drag-drop-ok:active {
  cursor: pointer;
  color: white;
  background-color: #36464b; }

.igv-drag-drop-cancel {
  width: 90%;
  margin: 4px auto;
  padding: 4px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  border-style: solid;
  border-radius: 3px;
  border-width: thin;
  border-color: #36464b;
  background-color: #36464b; }

.igv-drag-drop-cancel:hover,
.igv-drag-drop-cancel:focus,
.igv-drag-drop-cancel:active {
  cursor: pointer; }

.igv-drag-drop-warning {
  position: relative;
  width: 90%;
  margin: 4px auto;
  color: #373737;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  border-style: solid;
  border-radius: 3px;
  border-width: thin;
  border-color: #373737;
  background-color: white;
  overflow: auto; }
  .igv-drag-drop-warning #warning-message {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    float: left;
    width: 90%;
    background-color: transparent;
    overflow: auto; }
  .igv-drag-drop-warning #warning-dismiss {
    float: right;
    color: #bfbfbf;
    padding-top: 2px;
    padding-right: 4px; }
  .igv-drag-drop-warning #warning-dismiss:hover,
  .igv-drag-drop-warning #warning-dismiss:focus,
  .igv-drag-drop-warning #warning-dismiss:active {
    cursor: pointer;
    color: #373737; }

.igv-drag-and-drop-url-input-feedback {
  width: 100%;
  color: #36464b;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  padding-left: 4px; }

.igv-drag-and-drop-url-input {
  display: block;
  width: 100%;
  color: #36464b;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  padding: 4px;
  margin: 8px;
  border: 0;
  border-bottom: 2px solid #36464b; }

.igv-drag-and-drop-url-input:focus,
.igv-drag-and-drop-url-input:active {
  background: white;
  border-bottom: transparent; }

.igv-track-file-input-css {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.igv-track-file-input-css:hover + label strong {
  color: #39bfd3; }

.igv-drag-drop-file-input {
  position: relative; }

.igv-drag-drop-file-input label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden; }

.igv-drag-drop-shim {
  position: relative;
  width: 100%;
  height: 8px;
  margin: 0 auto;
  color: transparent;
  background-color: transparent; }

/*# sourceMappingURL=igv.css.map */