doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		block scripts
			script(src='/bower_components/jquery/dist/jquery.js')
			script(src='/js/test.js')
	body
		block content
