extends ../../layout/basiclayout

block append stylesheets
	//- link(rel='stylesheet', href='/bower_components/ladda/dist/ladda-themeless.min.css')
	style.
		.right-menu {
			float: right;
			margin-top: 13px;
			margin-right: 5px;
			font-size: 65%;
		}

block content
	div.container(style={'max-width': '560px','margin-top':'60px'})
		div.page-header 
			h3(style={'margin-left': '170px'}) Panel Registration
				span.right-menu.no-print
					a(href='/menu/panel/index') List

		div
			form#registerForm.form-horizontal
				div.form-group
					label.col-sm-4.control-label(for="sample_id") Sample ID
					div.col-sm-8
						input#sample_id.form-control(placeholder='자동 생성합니다.', name='sample_id', required='',readonly, type='text' )
				div.form-group
					label.col-sm-4.control-label(for="cancer_type") Cancer Type
					div.col-sm-8
						select#cancer_type.form-control(name='cancer_type')
							option(value='luad',selected) LUAD: Lung Adenocarcinoma
							option(value='lusc') LUSC: Lung Squamous Cell Carcinoma
							option(value='brca') BRCA: Breast Cancer
							option(value='gbm') GBM: Glioblastoma Multiforme
				div.form-group
					label.col-sm-4.control-label VCF File
					div.col-sm-8
						input#vcffile(type='file',name='vcffile',accept=".vcf")
						p.help-block Only *.vcf file acceptable.
				div.form-group
					label.col-sm-4.control-label BAM File
					div.col-sm-8
						input#bamfile(type='file',name="bamfile",accept=".bam")
						p.help-block Only *.bam file acceptable.
				div.form-group
					label.col-sm-4.control-label BAI File
					div.col-sm-8
						input#baifile(type='file',name="baifile",accept=".bai")
						p.help-block Only *.bai file acceptable.
				div.form-group
					label.col-sm-4.control-label(for="comments") Comments
					div.col-sm-8
						input#comments.form-control(name='comments', type='text')
				div.form-group
					div.col-sm-offset-4.col-sm-4
						button#submitButton.btn.btn-primary(type='submit', data-style='zoom-in') Register
						//- button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myPleaseWait') Launch demo modal


	#myPleaseWait.modal.fade(tabindex='-1', role='dialog', aria-hidden='true', data-backdrop='static')
		.modal-dialog.modal-sm(style='width:450px;')
			.modal-content
				.modal-header
					h4.modal-title
						span.glyphicon.glyphicon-time
						|  Please Wait
				.modal-body
					div(style='margin-left:180px;')
						span#ellapsed 11:11:12
					.progress
						#progressbar.progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%;')
							| 0%
					div#message(style={'margin-left': '4px','margin-bottom': '4px'})

					//- div.progress
					//- 	div.progress-bar.progress-bar-striped.active(style='width: 100%')
				.modal-footer
					//- button.btn.btn-default(type='button', data-dismiss='modal') Close
					button#gotoList.btn.btn-primary.hidden(type='button') 목록 화면으로 이동




block append scripts
	//- script(src='/bower_components/ladda/dist/spin.min.js')
	//- script(src='/bower_components/ladda/dist/ladda.min.js')
	script(src='/js/analysis/sample/register_panel.js')
