extends ../../layout/analysislayout

block prepend rightcontent
	div.container.chart_container
		div#main
block append stylesheets
	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/stylesheets/analysis/expressions.css')
	link(rel='stylesheet', href='/bower_components/qtip2/jquery.qtip.min.css')
	link(rel='stylesheet', href='/bower_components/BioChart/dist/css/biochart.css?v=0.0.41')
block append scripts
	script(src='/bower_components/BioChart/dist/js/biochart.js?v=0.0.41')
	script.
		var expressionUrl = '/rest/expressions',
				expressionReqParams = {
			source: cohort.getCohortSource(),
			cancer_type: '#{sample.cancer_type}',
			sample_id: '#{sample.sample_id}',
			signature: 'PAM50',
			filter: cohort.getFilterOption(),
		};
	script(src='/bower_components/qtip2/jquery.qtip.min.js')
	script(src='/js/analysis/expression.js?v=0.0.41')
