- function upperToHyphenLower(match) {
-     return ' ' + match.charAt(1).toUpperCase();
- }

- function upper(match) {
-     return match.toUpperCase();
- }

- function getFrom(str) {
-     return str.split("-")[0];
- }

- function getTo(str) {
-     return str.split("-")[1];
- }
div#accordion.panel-group(role='tablist', aria-multiselectable='true',style={'margin-bottom':'0px'})
	- var prevSubTypeId = '';
	- var ariaExpanded = 'true';
	each subtype in subtypelist
		- var subtypeid = subtype.subtype_id;
		- var subtypeTitle = subtype.subtype.replace(/^(\w)/,upper).replace(/(_\w)/g,upperToHyphenLower);
		div.panel.panel-default
			div.panel-heading(id='heading_#{subtypeid}', role='tab')
				h4.panel-title
					a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse_#{subtypeid}', aria-expanded='#{ariaExpanded}', aria-controls='collapse_#{subtypeid}') #{subtypeTitle}
					small.sub_message(id='sub_message_#{subtypeid}')
			div.panel-collapse.collapse(id='collapse_#{subtypeid}', role='tabpanel', aria-labelledby='heading_#{subtypeid}')
				div.panel-body
					if(subtype.column_type === 'value')
						div
							input(id='#{subtypeid}_all', type='checkbox',name='#{subtypeid}_all', data-column-type='#{subtype.column_type}', value='All',checked)
							span.sub_menu_span All
						hr(style={'border-top-style': 'dashed','width': '150px', 'margin': '5px'})
						each item in subtype.list
							div
								input(type='checkbox',name='#{subtypeid}_item',value='#{item.id}')
								span.sub_menu_span #{item.value}
								div.cohort-cnt #{item.cnt}
					else if(subtype.column_type === 'range')
						div
							input(id='#{subtypeid}_all', type='checkbox',name='#{subtypeid}_all', data-column-type='#{subtype.column_type}',data-from='#{getFrom(subtype.list[0].value)}',data-to='#{getTo(subtype.list[0].value)}', value='All',checked)
							span.sub_menu_span All
						hr(style={'border-top-style': 'dashed','width': '150px', 'margin': '5px'})
						div.row.text-center
							label(style={'margin-right':'20px'}) From :
							input.text-center(name='#{subtypeid}_from',required,type='number',min='#{getFrom(subtype.list[0].value)}',max='#{getTo(subtype.list[0].value)}',step=1,style={'width':'150px'},value='#{getFrom(subtype.list[0].value)}')
							label(style={'margin-left':'30px','margin-right':'20px'}) ~ To :
							input.text-center(name='#{subtypeid}_to',required,type='number',min='#{getFrom(subtype.list[0].value)}',max='#{getTo(subtype.list[0].value)}',step=1,style={'width':'150px'},value='#{getTo(subtype.list[0].value)}')
script(src='/js/analysis/globalsetting.js')
