extends ../../layout/analysislayout

block prepend rightcontent
	div.container.chart_container
		div#main
block append stylesheets
	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/bower_components/BioChart/dist/css/biochart.min.css?v=0.0.41')
	link(rel='stylesheet', href='/stylesheets/analysis/mutualexclusivity.css')
	link(rel='stylesheet', href='/bower_components/qtip2/jquery.qtip.min.css')
block append scripts
	script(src='/bower_components/BioChart/dist/js/biochart.js?v=0.0.41')
	script.
		var exclusivityReqParams = {
			source: cohort.getCohortSource(),
			cancer_type: 'luad',
			sample_id: '#{sample.sample_id}',
			filter: cohort.getFilterOption(),
		};
	script(src='/bower_components/qtip2/jquery.qtip.min.js')
	script(src='/js/analysis/mutualexclusivity.js?v=0.0.41')
