extends ../../layout/analysislayout

block prepend rightcontent
	div.container.chart_container
		div#main
block append stylesheets
	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/bower_components/BioChart/dist/css/biochart.css?v=0.0.41')
block append scripts
	script(src='/bower_components/jquery-ui/jquery-ui.min.js')
	script(src='/bower_components/BioChart/dist/js/biochart.js?v=0.0.41')
	script.
		var pathwayURL = '/rest/pathwayplot?',
				pathwayReqParams = {
			source: cohort.getCohortSource(),
			cancer_type: '#{sample.cancer_type}',
			sample_id: '#{sample.sample_id}',
			filter: cohort.getFilterOption(),
		};
	script(src='/js/analysis/pathwayplot/pathway.js?v=0.0.41')
