extends ../../layout/analysislayout

block append stylesheets
	link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.min.css')
	style.
		.bigbar{
			padding: 10px;
			padding-left: 30px;
			//- font-size: 18px;
			border-radius: 5px;
			text-align: left;
			background-color: #F9F9F9;
		}
		.bignumber {
			font-size: 20px;
		}
		.title1 {
			font-size: 24px;
		}
		.midnumber {
			font-size: 16px;
		}
		.subdata{
			padding-left: 50px;
			text-align: left;
			margin-top: 10px;
			margin-bottom: 5px;
		}
		.smalltd{
			width: 1%;
		}
		.boarderless {
			border: 0px !important;
		}
		.italic {
			font-style: italic;
		}
		.underline{
			text-decoration: underline;
		}
		.nounderline{
			text-decoration: none;
		}
		.badge{
			background-color: #337AB7;
				cursor: pointer;
		}
		.logo{
			height: 14px;
		}
		.modal-scroll{
			max-height: 800px;
			overflow-y: auto;
		}
		.modal-gene{
			color: red;
			font-weight: bold;
		}
		.fixed-table-pagination .pagination-detail, .fixed-table-pagination div.pagination {
			margin-bottom: 0px;
		}
		.category-table{
			margin-top: 15px;
		}
		//- .table > tbody > tr > th {
		//- 	width: 40%;
		//- }
		#implication_table thead tr th{
			text-align: center;
			vertical-align: middle;
		}
		#implication_table tbody tr td{
			text-align: center;
			vertical-align: middle;
		}		
block prepend rightcontent
	- function frequency(part,total){
	-   return ((part/total) * 100).toFixed(2);
	- }
	- function getClass(obj){
	-   return obj.replace(/_Mutation/g, '');
	- }
	- function endsWith(str, suffix) {
	-   return str.indexOf(suffix, str.length - suffix.length) !== -1;
	- }
	- function getPluralString(no, str){
	- 	if(no < 2) return str;
	-	return endsWith(str,'y') ? str.substring(0,str.length - 1) + 'ies' : str + 's';
	- }
	//- 제일 먼저 _를 공백으로 치환하고, 첫 문짜 또는 공백 다음 문자를 대문자로 만든다.
	//- - function makeTitle(str){
	//- - 	return str.replace(/_/g, ' ').replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
	//- - }
	- function getTobacoString(no){
	- 	if(no === '1') return 'Lifelong Non-Smoker';
	- 	if(no === '2') return 'Current Smoker';
	- 	if(no === '3') return 'Current Reformed Smoker for > 15 yrs';
	- 	if(no === '4') return 'Current Reformed Smoker for < or = 15 yrs';
	- 	if(no === '5') return 'Current Reformed Smoker, Duration Not Specified';
	- }

	- function getValue(clinical, column_name){
	- 	if(column_name !== 'tobacco_smoking_history')	return clinical[column_name];
	- 	else return getTobacoString(clinical[column_name]);
	- }

	div#driveModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='driveModalLabel')
		div.modal-dialog.modal-lg(role='document')
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4#driveModalLabel.modal-title
				div.modal-body.modal-scroll
					div
						h4 Overview
						div.overview
					div
						h4 Alterations
						div.alter
					div
						h4 Therapeutic Implications
						div.therapeutic
				div.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close

	div
		//- div.page-header(style={'margin-top': '20px'})
		//- 	h3 #{sample.sample_id}, #{sample.cancer_type.toUpperCase()}
		//- 		small #{clinical.cancer_name}
		//- 	button.btn.btn-info.btn-sm(type='button') Report
		div.col-xs-5
			div
				h3 Analysis Results
				hr(style={'margin-top': '0px', 'margin-bottom': '0px'})
			h2.bigbar.text-success(style={'margin-top': '0px'}) #{genomic_alt}
				small.text-success.italic  Altered #{getPluralString(genomic_alt,'gene')}
					span#alterations
				h3.subdata.text-success #{mutational_cd}
					small.text-success.italic  in Cancer Drug Targets
				h3.subdata.text-success #{cosmic_cgc}
					small.text-success.italic  in COSMIC Cancer Gene Census
			h2.bigbar.text-danger.agent-red #{fda_cancer}
				small.text-danger.agent-red.italic  #{getPluralString(fda_cancer,'therapy')} approved in #{sample.cancer_type.toUpperCase()}
			h2.bigbar.text-primary.agent-blue #{fda_other_cancer}
				small.text-primary.agent-blue.italic  #{getPluralString(fda_other_cancer,'therapy')} approved in other cancers
			h2.bigbar.text-default.agent-black #{clinical_trials}
				small.text-default.agent-black.italic  clinical #{getPluralString(clinical_trials,'trial')}

		div.col-xs-7
			div
				ul.nav.nav-tabs(role="tablist")
					li.active(role="presentation")
						a.title1(href='#demographictab', data-toggle='tab',role="tab", aria-controls="demographictab") Demographic & History
					li
						a.title1(href='#diagnosistab', data-toggle='tab',role="tab", aria-controls="diagnosistab") Diagnosis
					li
						a.title1(href='#followuptab', data-toggle='tab',role="tab", aria-controls="followuptab") Follow up
				div.tab-content
					div#demographictab.tab-pane.fade.in.active(role="tabpanel")
						table.category-table.table.table-striped.table-hover
							tbody
								each category in categories
									if category.category_name === 'demographic & history'
										tr
											th.boarderless #{category.column_full_name}
											td.boarderless #{getValue(clinical, category.column_name)}
					div#diagnosistab.tab-pane.fade(role="tabpanel")
						table.category-table.table.table-striped.table-hover
							tbody
								each category in categories
									if category.category_name === 'diagnosis'
										tr
											th.boarderless #{category.column_full_name}
											td.boarderless #{getValue(clinical, category.column_name)}
					div#followuptab.tab-pane.fade(role="tabpanel")
						table.category-table.table.table-striped.table-hover
							tbody
								each category in categories
									if category.category_name === 'follow-up'
										tr
											th.boarderless #{category.column_full_name}
											td.boarderless #{getValue(clinical, category.column_name)}
		div
			div.col-xs-12
				div.page-header
					h3 Therapeutic Implications
				div#loading.text-center
					span.spinner
						img(src='/images/loading-md.gif', alt='Loading')

				div#implication.hidden
					table#implication_table.table.table-bordered
						thead
							tr
								th(rowspan=2) Gene
								th(colspan=3) FDA approved drugs for gene
								th(rowspan=2) Genomic alterations
								th(rowspan=2).agent-red FDA approved drugs for alteration
								//- th PubMed mining drugs
								th(rowspan=2).text-primary OncoKB drugs(Level 
									a(href='http://oncokb.org/#/levels', target='oncokb')
										i.fa.fa-external-link(aria-hidden='true')
									| )
							tr
								th.agent-pink for #{sample.cancer_type.toUpperCase()}
								th for other cancers
								th clinical trials
						tbody

					//- i.fa.fa-info-circle(aria-hidden='true')
					//- span 
					//- span.agent-red Drugs available for #{sample.cancer_type.toUpperCase()}
					//- span.text-muted  / 
					//- span.agent-blue Drugs available for other cancers
					//- span.text-muted  / 
					//- span.agent-black Drugs(Clinical Trials)
					//- span.agent-black Drugs cancer type not specifed

block append scripts
	script(src='/bower_components/bootstrap-table/dist/bootstrap-table.min.js')
	script(src='/js/analysis/summary.js')
	script.
		$(function() {
			var cancer_type = $('#cancer_type').val();
			var sample_id = $('#sample_id').val();
			var implications = !{JSON.stringify(implications)};
			renderingTable(implications);
		});
