extends ../layout/basiclayout

block content
	// div.container.chart_container
	// 	div.row
	// 		div.col-xs-3
	// 			div.col-xs-6
	// 			div.col-xs-6
	// 				div.col-xs-8#sortSample
	// 				div.col-xs-3#sampleAxis
	// 				div.col-xs-1#samplePatient
	// 		div.col-xs-8#outerSample
	// 				div#sample
	// 	div.row
	// 		div.col-xs-3
	// 			div.col-xs-6#addRemove
	// 				button.btn.btn-default#configure(type='button', aria-label='left Align')
	// 					span.glyphicon.glyphicon-cog(aria-hidden='true')
	// 			div.col-xs-6
	// 				div.col-xs-11#groupName
	// 				div.col-xs-1#groupPatient
	// 		div.col-xs-8#outerGroup
	// 			div#group
	// 		div.col-xs-1#navi
	// 			div.input-group.input-group-xs.spinner#naviScale
	// 				input.form-control.input-sm#inputScale(type='text', value='100%', disabled=true)
	// 				div.input-group-btn-vertical
	// 					button.btn.btn-xs.btn-default#upArrow(type='button')
	// 						i.fa.fa-caret-up.fa-xs
	// 					button.btn.btn-xs.btn-dafault#downArrow(type='botton')
	// 						i.fa.fa-caret-down.fa-xs
	// 			div.input-btn#naviInit
	// 				button.btn.btn-xs.btn-default#initScale
	// 					i.glyphicon.glyphicon-refresh
	// 	div.row
	// 		div.col-xs-3
	// 			div.col-xs-6#legend
	// 			div.col-xs-6
	// 				div.col-xs-11#gene
	// 				div.col-xs-1#mutationPatient
	// 		div.col-xs-8#outerComutation
	// 			div#comutation
	// 		div.col-xs-1#pq
	// 	div.row
	// 		div.col-xs-2.col-xs-offset-1#sortGene
	// 		div.col-xs-1.col-xs-offset-8#sortPq
	div.container.chart_container
		//- div.btn-group
		//- 	button#down_png.btn.btn-default.btn-xs(type='button')
		//- 		i.glyphicon.glyphicon-picture
		div.row
			div#comutationplot_sample_yaxis_title
			div#comutationplot_sample
			div#comutationplot_empty_rm
		div.row
			div#comutationplot_groups_name
			div#comutationplot_groups
			div#comutationplot_scale
				div.input-group.input-group-xs.spinner#comutationplot_scale_div
					input.form-control.input-sm#comutationplot_scale_input(type='text', value='100%', disabled=true)
					div.input-group-btn-vertical#comutationplot_vertical_div
						button.btn.btn-xs.btn-default#comutationplot_draw_up(type='button')
							i.fa.fa-caret-up.fa-xs#comutationplot_up_i
						button.btn.btn-xs.btn-dafault#comutationplot_draw_down(type='botton')
							i.fa.fa-caret-down.fa-xs#comutationplot_down_i
				div.input-btn
					button.btn.btn-xs.btn-default#comutationplot_initial_button
						i.glyphicon.glyphicon-refresh
		div.row
			div#comutationplot_gene
			div#comutationplot_border
				div#comutationplot_heatmap
			div#comutationplot_pq
		div.row
			div#comutationplot_gene_title
			div#comutationplot_legend
			div#comutationplot_pq_title
	div.loading(style={ "display" : "none" })
		span#loading_text
		div.double-bounce1
		div.double-bounce2
	div.tooltip_chart(style={ "display" : "none" })
block append scripts
	script(src='/js/chart/init2.js')
	script(src='/bower_components/requirejs/require.js')
	script(src='/js/chart/start.js', onload='startComutation("ERCSB")')
	//- script(src='/js/chart/init.js', onload='new Chart().view("/rest/comutationplotForERCSB")')
block append stylesheets
	link(rel='stylesheet', href='/bower_components/spinkit/css/spinkit.css')
	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/stylesheets/population/comutationplot_ercsb.css')
