.maincontent {
	/*width: 1640px;*/
}

.container {
  /*width 		: 1550px;*/
  max-width	: none !important;
}

.chart_container 	{
	margin: 0px;
	padding: 0px;
	height: 0px;
	/*visibility: hidden;*/
	/*width 		: 1550px;*/
}

.maincontent {
	/*margin-top: 0px;*/
	margin-bottom: 0px;
	/*padding-top: 0px;*/
	padding-bottom: 0px;
}
/*

div[class*='col-xs-'] {
	overflow  : hidden;
	padding  	: 0px;
}

#navbar_select_options {
	height: 40px;
}

#pagination_select_dfs_os	{
	margin: 9px;
}

.btn-darkgrey	{
	background-color : #616161;
}

.expressions-caret 	{
	color 					 : #fff;
}

.form-control {
	font-weight 		 : bold;
}

input[type='text']:disabled {
	background-color : #F5F5F5;
}

#overallArea			{
	margin-top  : 100px;
	height			: 800px;
}

#os_survival_curve					{
	height 			: 500px; 
}

#os_stat_table					{
	padding-top : 30px; 
	height      : 300px;
}

#dfs_survival_curve					{
	height 			: 500px; 
}

#dfs_stat_table					{
	padding-top : 30px; 
	height      : 300px;
}

#waterfallBar	{
	height			: 50px;	
}

#waterfallOpt {
	height  		: 553px;
}

#waterfallLegendArea {
	padding			: 0px;
	margin 			: 5px;
}

#scoreFunctionUl,
#colorMappingUl {
	height 				: 200px;
	overflow-y 		: scroll;
	overflow-x		: hidden;
}
#scoreFunctionUl li,
#colorMappingUl	 li	{
	width 			: 220px;
}

#scoreFunctionUl li a,
#colorMappingUl	 li a {
	font-size 		: 12px;
	white-space		: nowrap;  
	text-overflow : ellipsis;
}

#colorMappingBtn ,
#scoreFunctionBtn	{
	border-top-right-radius		: 4px;
	border-bottom-right-radius: 4px;
}

#scatterLegendArea {
	margin 			: 5px;
	padding 		: 0px;  
}

#scatterOpt  	{
	height 			: 70px;
}

#heatmapOuter 	{
	height 			: 235px; 
	overflow		: hidden; 
}

#heatmapOuter:hover {
  overflow-y	: scroll;
}

#heatmapTopPatient {
	height 			: 20px; 
}

#heatmapBottomPatient	{
	height 			: 20px;
}

#gradientBar 	{
	margin			: 5px;
	padding 		: 0px;
}

#survival  , 
#heatmap 	 ,
#heatmapOpt 		{
	height			: 275px;
}

#colorMapping		 ,
#scoringFunction ,
#signatureGeneset 	{
	margin 			: 5px;
}*/

#main {
	width: 100%;
	height: 100%;
}