extends sidebarlayout

block append stylesheets
	style.
		.sub_title{
			color: #777;
			margin-left: 10px;
		}
		.selected_sample {
			padding-top: 20px;
			padding-left: 10px;
			//- margin-right: 10px;
			//- margin-top: 20px;
			color: #777;
		}
		.tooltip-inner  {
			white-space:pre;
			max-width:none;
		}
		.sub_message {
			float: right;
		}
		.borderless{
			border: none !important;
		}
		.cohort-cnt{
			float: right;
			color: #E48810;
		}
		.selection {
			font-weight: 700;
			color: rgb(51, 122, 183);
		}
		.cohort-title{
			font-size: 20px;
		}
if(sample)
	block leftmenu
		div.selected_sample
			div
				input#sample_id(type='hidden',value='#{sample.sample_id}')
				input#cancer_type(type='hidden',value='#{sample.cancer_type}')
			//- table.table.borderless
			//- tbody
			//- 	tr
			//- 		td.borderless(colspan=2)
			//- 			a(href='/menu/')
			//- 				i.fa.fa-tag.fa-fw
			//- 				span Patient Selection
			//- 	tr
			//- 		td.borderless.text-center(colspan=2)
			//- 			strong #{sample.id}
			//- 	tr
			//- 		td.borderless
			//- 			a(href='#', data-toggle='modal', data-target='#cohortModal')
			//- 				i.fa.fa-database.fa-fw
			//- 				span Cohort Selection
			//- 		td.borderless
			//- 			strong#bg_public_data_menu_str
			//- 			span#checkeditems(style={'display':'none'}) #{sample.checkeditems}
		ul.sidebar-nav
			li
				a(href='/menu')
					i.fa.fa-user.fa-fw
					span.sub_menu_span Sample Selection
			li(style={'line-height':'30px'})
				span.sub_menu_span(style={'margin-left':'18px'})
				span.selection #{sample.sample_id}
			li
				a(href='#', data-toggle='modal', data-target='#cohortModal')
					i.fa.fa-database.fa-fw
					span.sub_menu_span Cohort Selection
					//- span#cohort_source_str.sub_menu_span
			li(style={'line-height':'30px'})
				span.sub_menu_span(style={'margin-left':'18px'})
				span#cohort_cnt_str.selection
				span#checkeditems(style={'display':'none'}) #{sample.checkeditems}

		hr(style={'margin-top': '0px'})
		//- p.sub_title
		//- 	strong
		//- 		//- i.fa.fa-tags
		//- 		|  NGS Statistics
		//- hr
		//- ul.sidebar-nav
		//- 	li
		//- 		a.side-menu-active(href='/menu/ngs/summary')
		//- 			i.fa.fa-newspaper-o.fa-fw
		//- 			span.sub_menu_span  Summary
		//- hr
		p.sub_title(href='#')
			strong
				//- i.fa.fa-search
				|  Analysis
		hr
		ul.sidebar-nav
			li
				a(href='/menu/analysis/summary')
					i.fa.fa-newspaper-o.fa-fw
					span.sub_menu_span  Summary
			li
				a(href='/menu/analysis/variants')
					i.fa.fa-exclamation.fa-fw
					span.sub_menu_span  Variants
			li
				a(href='/menu/analysis/mutualexclusivity')
					i.fa.fa-sun-o.fa-fw
					span.sub_menu_span  Mutual Exclusivity
			li
				a(href='/menu/analysis/pathways')
					i.fa.fa-code-fork.fa-fw
					span.sub_menu_span  Pathways
			- if(sample.wts_normal === 1 || sample.wts_tumor === 1)
				li
					a(href='/menu/analysis/expressions')
						i.fa.fa-chain.fa-fw
						span.sub_menu_span  Expressions
			li
				a(href='/menu/analysis/therapies')
					i.fa.fa-medkit.fa-fw
					span.sub_menu_span  Therapies
		hr
		p.sub_title(href='#')
			strong
				//- i.fa.fa-database
				|  Population Statistics
		hr
		ul.sidebar-nav
			li
				a(href='/menu/population/comutation')
					i.fa.fa-map-o.fa-fw
					span.sub_menu_span  Mutational Landscape
			//- li
			//- 	a(href='#', data-toggle='collapse', data-target='#genotype')
			//- 		i.fa.fa-tasks.fa-fw
			//- 		span.sub_menu_span  Genotype Selected
			//- 		span.caret
			//- 		//- i.glyphicon.glyphicon-chevron-down
			//- 	ul#genotype.nav.nav-stacked(class='collapse', style='', aria-expanded='true')
			//- 		li
			//- 			a(href='/menu/population/comutation')
			//- 				i.fa.fa-map-o.fa-fw
			//- 				span.sub_menu_span  Mutational Landscape
			//- 		li
			//- 			a(href='/menu/population/mutation')
			//- 				i.fa.fa-check-square-o.fa-fw
			//- 				span.sub_menu_span  Mutation Substype
			//- 		li
			//- 			a(href='/menu/population/expression')
			//- 				i.fa.fa-sun-o.fa-fw
			//- 				span.sub_menu_span  Expression Substype
			//- 		li
			//- 			a(href='/menu/population/substype')
			//- 				i.fa.fa-sort-numeric-asc.fa-fw
			//- 				span.sub_menu_span  CNV Substype
			//- li
			//- 	a(href='#', data-toggle='collapse', data-target='#clinical')
			//- 		i.fa.fa-bed.fa-fw
			//- 		span.sub_menu_span  Clinical Selected
			//- 		span.caret
			//- 	ul#clinical.nav.nav-stacked.collapse(style='', aria-expanded='true')
			//- 		li
			//- 			a(href='/menu/population/vital')
			//- 				i.fa.fa-heart-o.fa-fw
			//- 				span.sub_menu_span  Vital Status
			//- 		li
			//- 			a(href='/menu/population/diagnosis')
			//- 				i.fa.fa-stethoscope.fa-fw
			//- 				span.sub_menu_span  Age at diagnosis
			//- 		li
			//- 			a(href='/menu/population/gender')
			//- 				i.fa.fa-transgender.fa-fw
			//- 				span.sub_menu_span  Gender
			//- 		li
			//- 			a(href='/menu/population/treatment')
			//- 				i.fa.fa-plus-square.fa-fw
			//- 				span.sub_menu_span  Treatment
else
	block leftmenu
		a.sample(href='/menu/') Select Sample

block rightcontent
	div#cohortModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='cohortModalLabel')
		div.modal-dialog(role='document')
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4#cohortModalLabel.modal-title Cohort Selection - #{sample.cancer_type.toUpperCase()}
				div.modal-body
					div.form-horizontal
						div.form-group
							label.col-sm-2.control-label Cohort
							div.col-sm-10
								select#cohortSource.form-control
									each cohort in sample.cohort_list
										option(value='#{cohort.name}') #{cohort.name}
									//- option(value='GDAC') GDAC
									//- option(value='SMC') SMC
					hr
					div#modalContent
				div.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					button#saveChanges.btn.btn-primary(type='button', data-dismiss='modal') Save changes

	//- case sample.cancer_type
	//- 	when 'luad'
	//- 		include ../menu/analysis/global_setting/globalsetting_luad.jade
	//- 	when 'lusc'
	//- 		include ../menu/analysis/global_setting/globalsetting_lusc.jade
	//- 	when 'gbm'
	//- 		include ../menu/analysis/global_setting/globalsetting_gbm.jade
	//- 	when 'brca'
	//- 		include ../menu/analysis/global_setting/globalsetting_brca.jade


block append scripts
	script(src='/js/analysislayout.js')
