nav.navbar.navbar-default.navbar-fixed-top
	div.navbar-container
		div.navbar-header
			a.navbar-brand(href="/",style={'color': '#2880CC','font-size':'18px'})
				strong CGIS
				if(sub_brand)
					span(style={'margin-left':'6px'}) #{sub_brand}
		div#navbar
			ul.nav.navbar-nav
				li: a(href="/menu/") Patient Samples
				//- li: a(href="/menu/panel/index") Cancer Panel Analysis
				//- li: a(href="/menu/ngs") NGS Statistics
				//- li: a(href="/menu/analysis") Analysis
				//- li: a(href="/menu/population") Population Statistics

			ul.nav.navbar-nav.navbar-right
				if(!user)
					li: a(href="/login")
						i.fa.fa-sign-in
						span.menu_span login
				else
					//- li.dropdown
					//- 	a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true") Chart
					//- 		span.caret
					//- 	ul.dropdown-menu
					//- 		li: a(href="/chart/comutationplot")
					//- 			i.menu_icon.fa.fa-list-alt
					//- 			span.sub_menu_span comutation plot
					//- 		li: a(href="/chart/comutationplotForERCSB")
					//- 			i.menu_icon.fa.fa-list-alt
					//- 			span.sub_menu_span comutation for ERCSB
					//- 		li: a(href="/chart/needleplot")
					//- 			i.menu_icon.fa.fa-dot-circle-o
					//- 			span.sub_menu_span needle plot
					//- 		li: a(href="/chart/xyplot")
					//- 			i.menu_icon.fa.fa-line-chart
					//- 			span.sub_menu_span xy plot
					//- 		li.divider(role="separator")
					//- 		li: a(href="/chart/maplot")
					//- 			i.menu_icon.fa.fa-bar-chart
					//- 			span.sub_menu_span ma plot
					//- 		li: a(href="/chart/pcaplot")
					//- 			i.menu_icon.fa.fa-area-chart
					//- 			span.sub_menu_span pca plot(2D)
					//- 		li: a(href="/chart/pcaplot3d")
					//- 			i.menu_icon.fa.fa-cube
					//- 			span.sub_menu_span pca plot(3D)
					//- 		li: a(href="/chart/degplot")
					//- 			i.menu_icon.fa.fa-list-alt
					//- 			span.sub_menu_span deg plot
					//- 		li: a(href="/chart/reporting")
					//- 			i.menu_icon.fa.fa-cube
					//- 			span.sub_menu_span test_reporting
					li.dropdown
						a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true")
							i.fa.fa-user
							span(style={'margin-left':'4px'}) #{user.fullname}
							span.caret
						ul.dropdown-menu
							li: a(href="/models/users/profile")
								i.menu_icon.fa.fa-info-circle
								span.sub_menu_span Profile
							//- li: a(href="/commingsoon")
							//- 	i.menu_icon.fa.fa-wrench
							//- 	span.sub_menu_span Settings
							if(user.isAdmin)
								li.divider(role="separator")
								li: a(href="/admin")
									i.menu_icon.fa.fa-cog
									span.sub_menu_span Admin

							li.divider(role="separator")
							li: a(href="/logout")
								i.menu_icon.fa.fa-sign-out
								span.sub_menu_span Logout
				//- li: a(href="#{community.url}",target='community')
				//- 	i.fa.fa-comments-o
				//- 	span.menu_span Community
