.container {
    margin: 0px;
}

ul, ol {
    list-style: none;
}

.gridster {
    width: 100%;
    margin: 0 auto;
}

.gridster .gs-w {
    background: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.info-box, .box.box-solid.box-danger  {
    margin: 0px;
}
.float-right {
    float: right;
}

.box-div-patient    {
    height: 150px;
}

.box-table-treatments   {
    height: 320px;
}

.box-table-clinical_freatures   {
    height: 490px;
}

.box-div-altered_gene, .box-div-therapy_approved    {
    height: 320px;
}

.box-div-clinical_trial     {
    height: 150px;
}

.box-table-therapeutic_implications     {
    height: 150px;
}

.label-driver   {
    float: left;
}

.label-cosmic   {
    float: right;
}